/*****STYLING STARTS FROM HERE*****/
/*****HEADER STYLING*****/
.test-top-header {
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, #006AB3), color-stop(10%, #1375B8));
  background: -webkit-linear-gradient(left, #006AB3 90%, #1375B8 10%);
  background: -o-linear-gradient(left, #006AB3 90%, #1375B8 10%);
  background: linear-gradient(to right, #006AB3 90%, #1375B8 10%);
  background: -webkit-linear-gradient(right, #006AB3 90%, #1375B8 10%);
  background: -moz-linear-gradient(to right, #006AB3 90%, #1375B8 10%);
  background: -ms-linear-gradient(to right, #006AB3 90%, #1375B8 10%);
  background: -o-linear-gradient(to right, #006AB3 90%, #1375B8 10%);
  padding: 10px 0px; }

.top-left-header p {
  display: inline-block;
  margin-right: 25px;
  color: #ffffff;
  font-style: italic; }
  .top-left-header p span {
    display: inline-block;
    margin-right: 15px; }

.top-right-header .top-menu-area a {
  display: inline-block;
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  .top-right-header .top-menu-area a:hover {
    color: #cccccc; }

.top-right-header .account-area {
  background-color: #1375B8;
  margin: -10px 0px; }
  .top-right-header .account-area a {
    display: inline-block;
    margin: 0px 10px;
    color: #ffffff;
    margin-top: 8px;
    text-decoration: none;
    text-decoration: none;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    .top-right-header .account-area a:hover {
      color: #cccccc; }
    .top-right-header .account-area a span {
      display: inline-block;
      margin-right: 10px; }

.account-area a:last-child {
  background-color: #7EB758;
  padding-right: 30px;
  padding: 2px 5px;
  border-radius: 2px;
  background: -webkit-linear-gradient(to right, #7EB758, #6EA748);
  background: -moz-linear-gradient(to right, #7EB758, #6EA748);
  background: -ms-linear-gradient(to right, #7EB758, #6EA748);
  background: -o-linear-gradient(to right, #7EB758, #6EA748);
  background: -webkit-gradient(linear, left top, right top, from(#7EB758), to(#6EA748));
  background: -webkit-linear-gradient(left, #7EB758, #6EA748);
  background: -o-linear-gradient(left, #7EB758, #6EA748);
  background: linear-gradient(to right, #7EB758, #6EA748);
  float: right;
  margin-right: 0px; }
  .account-area a:last-child:hover {
    color: #ffffff;
    background: -webkit-linear-gradient(to bottom, #7EB758, #6EA748);
    background: -moz-linear-gradient(to bottom, #7EB758, #6EA748);
    background: -ms-linear-gradient(to bottom, #7EB758, #6EA748);
    background: -o-linear-gradient(to bottom, #7EB758, #6EA748);
    background: -webkit-gradient(linear, left top, left bottom, from(#7EB758), to(#6EA748));
    background: -webkit-linear-gradient(top, #7EB758, #6EA748);
    background: -o-linear-gradient(top, #7EB758, #6EA748);
    background: linear-gradient(to bottom, #7EB758, #6EA748); }

.test-menu-header {
  background-color: #ffffff;
  padding: 20px 0px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  z-index: 999; }
  .test-menu-header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .test-menu-header .slide-menu {
    position: fixed;
    padding: 0px 30px;
    top: 125px;
    border-top: 2px solid #DADADA;
    right: 0;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    padding-left: 35px;
    z-index: 999;
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all; }
    .test-menu-header .slide-menu .slide-menu-item .social {
      display: inline-block;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid transparent;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -ms-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
      color: #fff; }
      .test-menu-header .slide-menu .slide-menu-item .social:hover {
        border: 1px solid #999999;
        color: #999999;
        background-color: transparent; }
    .test-menu-header .slide-menu .slide-menu-item .face {
      background-color: #3B5998; }
    .test-menu-header .slide-menu .slide-menu-item .twi {
      background-color: #1DA1F2; }
    .test-menu-header .slide-menu .slide-menu-item .lin {
      background-color: #0077B5; }

/**************************/
/****SYLING STICKY MENU****/
/**************************/
.sticky {
  position: fixed;
  top: 0;
  left: 80px;
  right: 80px;
  z-index: 999; }

.sticky .slide-menu {
  top: 81px !important; }

.slide-menu-item {
  margin-top: 30px; }
  .slide-menu-item .slide-item-title {
    text-transform: uppercase;
    color: #999999;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 20px; }
  .slide-menu-item ul {
    listy-style: none; }
  .slide-menu-item a {
    text-decoration: none;
    color: #2E2E2E;
    display: block;
    font-weight: 500;
    padding: 10px 15px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    background-color: transparent; }
    .slide-menu-item a:hover {
      background-color: #f2f2f2;
      color: #1375B8; }

/*****SLIDE MENU OPENING*****/
.slide-open {
  -webkit-transform: translateX(-80px) !important;
  -moz-transform: translateX(-80px) !important;
  -ms-transform: translateX(-80px) !important;
  -o-transform: translateX(-80px) !important;
  transform: translateX(-80px) !important; }

.test-nav-logo {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 3px 5px; }
  .test-nav-logo img {
    max-width: 180px;
    height: auto; }

.test-nav-menu {
  -webkit-box-flex: 6;
  -ms-flex-positive: 6;
  flex-grow: 6;
  text-align: right; }
  .test-nav-menu ul {
    letter-style: none; }
    .test-nav-menu ul li {
      display: inline-block;
      margin-right: 10px;
      position: relative;
      padding: 3px 5px;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -ms-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all; }
      .test-nav-menu ul li:hover a span {
        margin-right: 5px; }
    .test-nav-menu ul a {
      text-decoration: none;
      color: #2E2E2E; }
    .test-nav-menu ul span {
      display: inline-block;
      margin-right: 10px;
      color: #1375B8;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -ms-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all; }

.burger-menu {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 3px 5px;
  text-align: right; }
  .burger-menu a {
    color: #1375B8; }

/*****STYLING SIDEBAR*****/
#body-content {
  background-color: #F6F6F6; }
  #body-content .slide-menu-item {
    margin-top: 40px; }
  #body-content .sidebar-area p {
    padding-left: 0px; }
  #body-content .slide-menu-item a:hover {
    background-color: #ffffff; }
  #body-content .slide-menu-item a {
    border-top: 1px solid #DADADA; }
  #body-content .cuatomer-review blockquote {
    font-style: italic; }
  #body-content .cuatomer-review span {
    display: block;
    text-align: right; }
  #body-content .contact-options {
    margin-bottom: 15px; }
    #body-content .contact-options span {
      display: block;
      font-weight: 600;
      font-style: italic; }
  #body-content .social-icon {
    background-color: #ffffff; }
    #body-content .social-icon span {
      display: inline-block;
      margin-right: 20px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      color: #ffffff;
      border: 1px solid transparent;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -ms-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
      margin-top: 5px; }
      #body-content .social-icon span:hover {
        background-color: #ffffff;
        color: #2E2E2E;
        border: 1px solid #999999; }
    #body-content .social-icon a {
      display: block;
      border: none;
      margin-bottom: 2px;
      text-decoration: none;
      padding: 10px; }

.facebook span {
  background-color: #3B5998; }

.twitter span {
  background-color: #1DA1F2; }

.linkedin span {
  background-color: #0077B5; }

.pinterest span {
  background-color: #BD081C; }

.youtube span {
  background-color: #FF0000; }

.instagram span {
  background-color: #DA3073; }

/*****STYLING BANNER SECTION*****/
.banner {
  position: relative; }
  .banner .mybtn {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: #1375B8;
    border-radius: 0px;
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    .banner .mybtn:hover {
      background-color: #fff;
      color: #1375B8;
      border-radius: 0px 25px 0px 25px; }

/*****BODY CONTENT STYLING*****/
.main-body {
  padding: 35px 0px;
  background-color: #ffffff; }

.body-content p {
  font-size: 22px; }

.body-content .body-image {
  margin: 40px 0px; }

.body-adverise .first-ad, .body-adverise .second-ad {
  display: block;
  margin-left: 35px;
  background-color: #F6F6F6;
  text-decoration: none; }

.body-adverise .first-ad {
  height: 294px;
  line-height: 294px;
  text-align: center;
  margin-bottom: 20px;
  color: #999999; }

.body-adverise .second-ad {
  height: 112px;
  line-height: 112px;
  text-align: center;
  color: #999999;
  margin-bottom: 20px; }

/*****STYLING OBJECTIVES AREA*****/
.objectives {
  padding-top: 15px;
  padding-bottom: 10%;
  border-top: 1px solid #DADADA; }
  .objectives h2 {
    font-weight: 600;
    font-size: 24px; }
  .objectives p {
    font-size: 18px;
    color: #2E2E2E; }

/*****STYLING MAP*****/
.map-element .mainmap {
  position: relative; }
  .map-element .mainmap a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 10px 25px;
    color: #2E2E2E;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    border-radius: 0px; }
    .map-element .mainmap a:hover {
      border-radius: 0px 25px 0px 25px;
      background-color: #1375B8;
      color: #ffffff; }

.map-element .map-address {
  width: 75%;
  margin: auto; }
  .map-element .map-address h3 {
    padding: 15px 0px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #DADADA; }
  .map-element .map-address span {
    font-size: 16px;
    display: block; }
  .map-element .map-address p {
    font-size: 16px;
    font-weight: 600; }

.address {
  margin: 20px 0px; }

/*****STYLING MODAL*****/
.modal .close {
  cursor: pointer; }

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto; }
  @media (max-width: 768px) {
    .modal-dialog {
      min-height: calc(100vh - 20px); } }

.modal-lg {
  min-width: 100%;
  max-width: 100%; }

.modal-body iframe {
  height: 450px; }

/*****STYLING FOOTER*****/
footer .footer-top {
  background-color: #F6F6F6;
  padding: 40px 0px;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA; }

footer .footer-top-item h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase; }

footer .footer-top-item .row {
  margin-top: 15px;
  margin-bottom: 15px; }

footer .footer-top-item a.f-item {
  display: block;
  color: #999999;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  margin-bottom: 5px; }
  footer .footer-top-item a.f-item:last-child {
    margin-bottom: 0px; }
  footer .footer-top-item a.f-item:hover {
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px); }

footer .footer-top-item p {
  font-size: 16px; }

footer .footer-top-item .newsletter-box {
  width: 70%;
  margin: 15px 0px; }

footer .footer-top-item .form-control {
  border-radius: 0px;
  border: 1px solid #DADADA;
  -webkit-box-shadow: none;
  box-shadow: none; }
  footer .footer-top-item .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #1375B8; }

.footer-social a {
  display: inline-block;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  border: 1px solid transparent;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
  .footer-social a:hover {
    background-color: transparent;
    color: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .footer-social a:last-child {
    margin-right: 0px; }

.footer-social .footer-facebook {
  background-color: #3B5998; }

.footer-social .footer-snapchat {
  background-color: #74B14A; }

.footer-social .footer-google {
  background-color: #111111; }

.footer-social .footer-feed {
  background-color: #FF8500; }

.footer-bottom {
  background-color: #ffffff; }
  .footer-bottom .footer-nav {
    border-bottom: 1px solid #DADADA; }
  .footer-bottom ul {
    padding: 20px 0px; }
  .footer-bottom li {
    display: inline-block;
    margin: 0px 10px;
    line-height: 35px; }
  .footer-bottom a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #999999;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all; }
    .footer-bottom a:hover {
      color: #2E2E2E; }
  .footer-bottom .footer-brands {
    padding: 20px 0px;
    border-bottom: 1px solid #DADADA; }
    .footer-bottom .footer-brands h5 {
      font-size: 11px;
      font-style: italic;
      color: #999999;
      margin-bottom: 15px; }
    .footer-bottom .footer-brands span {
      display: inline-block;
      margin: 0px 20px;
      text-transform: uppercase;
      color: #999999;
      font-size: 20px;
      line-height: 45px; }
  .footer-bottom .footer-copyright {
    padding: 20px 0px; }
    .footer-bottom .footer-copyright p {
      color: #999999;
      font-style: italic;
      font-size: 11px; }

.rowsafari {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*****CHECKING RESPONSIVENESS*****/
@media only screen and (max-width: 1801px) {
  .test-top-header {
    background: -webkit-linear-gradient(right, #006AB3 100%, #1375B8 0%);
    background: -moz-linear-gradient(to right, #006AB3 100%, #1375B8 0%);
    background: -ms-linear-gradient(to right, #006AB3 100%, #1375B8 0%);
    background: -o-linear-gradient(to right, #006AB3 100%, #1375B8 0%);
    background: -webkit-gradient(linear, left top, right top, color-stop(100%, #006AB3), color-stop(0%, #1375B8));
    background: -webkit-linear-gradient(left, #006AB3 100%, #1375B8 0%);
    background: -o-linear-gradient(left, #006AB3 100%, #1375B8 0%);
    background: linear-gradient(to right, #006AB3 100%, #1375B8 0%); }
  .test-top-header .top-content {
    display: block; }
  .test-top-header .top-left-header {
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .test-top-header .top-right-header {
    margin-top: 15px;
    width: 100%;
    float: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .account-area {
    padding: 10px;
    background-color: transparent !important;
    text-align: right; }
    .account-area a {
      margin-top: 0px !important; }
    .account-area a:last-child {
      margin-top: 2px !important;
      float: none; }
  .test-menu-header .slide-menu {
    top: 170px; } }

@media only screen and (max-width: 1560px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px; }
  .sticky {
    left: 0;
    right: 0; }
  .test-nav-menu {
    height: 30px;
    line-height: 30px;
    overflow: hidden; }
  .slide-open {
    -webkit-transform: translateX(0px) !important;
    -moz-transform: translateX(0px) !important;
    -ms-transform: translateX(0px) !important;
    -o-transform: translateX(0px) !important;
    transform: translateX(0px) !important; }
  .main-body {
    display: block;
    content: "";
    clear: both; }
  .body-row {
    display: block; }
  .body-content {
    width: 100%;
    float: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .body-adverise {
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px; }
  .body-adverise .first-ad, .body-adverise .second-ad {
    margin-left: 0px; }
  .burger-menu a {
    display: block;
    margin-top: 4px; }
  .top-right-header .rowsafari {
    display: block; }
  .top-right-header .top-menu-area {
    width: 50%;
    float: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .top-right-header .account-area {
    width: 50%;
    float: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right; } }

@media only screen and (max-width: 1060px) {
  .top-right-header .top-menu-area {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; }
  .top-right-header .account-area {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; }
  .top-menu-area {
    text-align: center;
    margin-bottom: 15px; }
  .test-menu-header .slide-menu {
    top: 209px; } }

@media only screen and (max-width: 1024px) {
  .slide-menu-item:last-child {
    padding-bottom: 20px; } }

@media only screen and (max-width: 991px) {
  .account-area {
    text-align: center; }
  .ful-body-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse; }
  .obj-row {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    flex-direction: initial;
    -webkit-flex-direction: initial;
    -moz-flex-direction: initial;
    -ms-flex-direction: initial;
    -o-flex-direction: initial; }
  .test-menu-header .slide-menu {
    top: 210px; }
  .map-element {
    margin-top: 30px; }
  .footer-top-item {
    margin-bottom: 20px; }
  .footer-top-item:nth-child(4), .footer-top-item:nth-child(3) {
    margin-bottom: 0px; }
  .footer-top .footer-row {
    display: block; }
  .footer-top .footer-top-item {
    width: 100%;
    float: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .our-map .row {
    display: block; }
  .our-map .map-element {
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

@media only screen and (max-width: 768px) {
  .top-left-header p:last-child {
    margin-top: 15px; }
  .test-menu-header .slide-menu {
    top: 219px; }
  .objectives-title {
    margin-bottom: 30px; }
  .footer-top-item:nth-child(3) {
    margin-bottom: 20px; }
  .objectives .row {
    display: block; }
  .objectives .objectives-title {
    width: 100%;
    float: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .objectives .objectives-content {
    width: 100%;
    float: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .test-nav-logo img {
    max-width: 150px; }
  .sticky .slide-menu {
    top: 76px !important; } }

@media only screen and (max-width: 700px) {
  .top-menu-area {
    height: 30px;
    line-height: 30px;
    overflow: hidden; }
  .test-menu-header .slide-menu {
    top: 225px; } }

@media only screen and (max-width: 589px) {
  .test-menu-header .slide-menu {
    top: 249px; }
  .modal-header .close {
    padding: 15px;
    margin: -15px 0px -15px auto; } }

@media only screen and (max-width: 500px) {
  .banner .mybtn {
    font-size: 28px;
    bottom: 10px;
    left: 10px; } }

@media only screen and (max-width: 480px) {
  .top-left-header p span {
    display: none; }
  .test-nav-menu {
    display: none; }
  .footer-bottom li, .footer-bottom .footer-brands span {
    display: block; } }

@media only screen and (max-width: 430px) {
  .test-menu-header .slide-menu {
    top: 249px; } }

@media only screen and (max-width: 360px) {
  .map-element .mainmap a {
    font-size: 15px; }
  .account-area a:last-child {
    margin-top: 15px !important; } }

@media only screen and (max-width: 360px) {
  .top-menu-area {
    display: none; }
  .account-area a:first-child span {
    display: none !important; }
  .test-top-header .top-right-header {
    margin-top: 0px; }
  .test-menu-header .slide-menu {
    top: 203px; } }
